h1 {
    font-size: 24px;
    ;
}

.body {
    margin-left: auto;
    margin-right: auto;
}

.all {
    display: flex;
    flex-direction: column;

}

.title{
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 20%;
}

.wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-right: 40px;
}

.walking-path {
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
}

.walking-path>img {
    width: 320px;
    height: 320px;
}

.walking-path span {
    margin-bottom: 5px;
}

.review_form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.write {
    border: 1px solid #D4D9B4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    text-align: left;
    padding: 10px;
}

.write span {
    margin: 10px;
    font-size: 21px;
}

.write textarea {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--97BF04, #97BF04);
    width: 450px;
    height: 150px;
    flex-shrink: 0;
    font:inherit;
}

.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.img-area{
    display: flex;
    align-items: center;
}

.image_container>img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

.filebox .upload-file {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}

.filebox label {
        /* display: inline-block; */
    /* padding: 0; */
    color: #81e042;
    vertical-align: middle;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    font-size: 50px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.btn-review {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--97BF04, #97BF04);
    margin: 25px 10px;
}

.btn-review:hover {
    width: 105px;
    height: 42px;
    border-radius: 30px;
    background: var(--97BF04, #c6fc04);
}

.btn-ref {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border: none;
    border-radius: 30px;
    background: var(--D4D9B4, #D4D9B4);
    margin: 25px 0px;
    font: inherit;
}