@import url("https://font.elice.io/css?family=Elice+Digital+Baeum");

body {
    font-family: "Elice Digital Baeum", sans-serif;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

input {
    /* 모든 기본 스타일을 초기화합니다. */
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    outline: none;
    /* 선택 시 파란 테두리 제거 */
    /* 기타 스타일 속성을 필요에 따라 추가할 수 있습니다. */
}

/* ----- 헤더 스타일 ----- */

header {
    width: 1440px;
    margin: 0 auto;
    height: 107px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    /* 수직 가운데 정렬 */
    /* 세 개의 열을 만듭니다. */
    text-align: center;
    /* 모든 요소의 텍스트를 가운데 정렬합니다. */
}

.logo {
    display: inline-block;
    background-image: url(/images/logo.png);
    background-size: cover;
    width: 124px;
    height: 61px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 60px;
}

nav a {
    font-size: 32px;
    color: #000;
}

.member {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* 로그인 상태 */
.profile_image {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    margin-right: 10px;
}

.name {
    margin-right: 20px;
    font-size: 24px;
}

.date {
    color: #888;
    font-size: 16px;
}

/* 비로그인 상태 */
.header_sign {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.header_hr{
    width:1440px;
    margin:0 auto;
}
/* ----- 메인 관련 ----- */

main {
    width: 1440px;
    margin: 0 auto;

}

footer {
    width: 100%;
    height: 180px;
    background-color: #665956;
    margin: 0 auto;
}

.foot_ctn {
    display: flex;
    width: 1440px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.foot_ctn p {
    color: #fff;
    line-height: 1.5;
}

.foot_logo {
    background-image: url(/images/logo_white.png);
    background-size: cover;
    width: 199px;
    height: 98px;
}

/* ----- 버튼 ----- */
.btn_signin {
    display: block;
    border-radius: 25px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    background-color: #97bf04;
    color: #fff;
}

.btn_signup {
    display: block;
    border-radius: 25px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    background-color: #d4d9b4;
    color: #666;
}

.sign_icon {
    margin-right: 5px;
}

.btn_logout {
    display: block;
    border-radius: 25px;
    width: 80px;
    line-height: 32px;
    text-align: center;
    background-color: #d4d9b4;
    color: #000;
}

.btn_write_big {
    display: block;
    border-radius: 25px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    background-color: #97bf04;
    color: #fff;
    font-size: 24px;
}

.btn_comments {
    display: inline-block;
    border-radius: 25px;
    width: 80px;
    line-height: 32px;
    text-align: center;
    background-color: #97bf04;
    color: #000;
}