@import url("https://font.elice.io/css?family=Elice+Digital+Baeum");

body {
    font-family: "Elice Digital Baeum", sans-serif;
}

a {
    text-decoration: none;
}

/* .container {} */

header {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
}

.logo {
    display: inline-block;
    background-image: url(/images/logo.png);
    background-size: cover;
    width: 124px;
    height: 61px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 386px;
}

nav a {
    font-size: 32px;
    color: #000;
}

.member {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 280px;
}

.profile_image {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    margin-right: 10px;
}

.name {
    margin-right: 20px;
    font-size: 24px;
}

.date {
    color: #888;
    font-size: 16px;
}

footer {
    width: 100%;
    height: 180px;
    background-color: #665956;
    margin: 0 auto;
}

.foot_ctn {
    display: flex;
    width: 1440px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.foot_ctn p {
    color: #fff;
    line-height: 1.5;
}

.foot_logo {
    background-image: url(/images/logo_white.png);
    background-size: cover;
    width: 199px;
    height: 98px;
}

/* ----- 메인 관련 ----- */
main {
    width: 1440px;
    margin: 0 auto;

}

/* ----- 버튼 ----- */
.btn_logout {
    display: block;
    border-radius: 25px;
    width: 80px;
    line-height: 32px;
    text-align: center;
    background-color: #d4d9b4;
    color: #000;
}

.btn_write_big {
    display: block;
    border-radius: 25px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    background-color: #97bf04;
    color: #fff;
    font-size: 24px;
}