.body {
    justify-content: space-around;
    align-items: center;
    flex-direction: low;
    display: flex;
}


.login_img {
    flex-direction: column;
    justify-content: center;
    display: flex;
    background-color: #666666;
}

.login_form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    margin: 85px 250px;
}

.logo-img {
    margin-bottom: 90px
}

.find {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.forward-signup {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-top: 120px
}

.input {
    width: 360px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    color: inherit;
    font: inherit;
    padding: 9px 16px;
    margin-bottom: 15px;
    outline: none;
}

.btn-login {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--97BF04, #97BF04);
    margin: 25px
}

.find-a {
    color: #AAA;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.find-a > a {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}