.overwidth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ----- 검색창 -----  */

.search {
    background: url('/images/bg1.jpg') center/cover no-repeat;
    height: calc(100vh - 100px);
    margin-bottom: 120px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.search_form {
    position: relative;
}

.content p {
    color: #fff;
    font-size: 64px;
    letter-spacing: 0.15em;
}

.search_input {
    width: 500px;
    background-color: #fff;
    border-radius: 25px;
    height: 50px;
    padding-left: 20px;
}



/* ----- 최근 산책길 ----- */


.recent_path {
    width: 1350px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.recent_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.recent_header h3 {
    font-size: 32px;

}

.recent_header a {
    font-size: 20px;
    color: #000;
}

.recent_list {
    width: 1350px;
    display: flex;
    justify-content: space-between;
}

.recent_wrapper {
    width: 300px;
}

.recent_image {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.recent_image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.recent_title {
    font-size: 32px;
}

/* ----- 회원가입 ----- */
.signupreq {
    background: url('/images/bg3.jpg') center/cover no-repeat;
    height: 500px;

}





.signupbox {
    background-color: rgb(0, 0, 0, 0.5);

    padding: 50px;
    display: flex;
    align-items: center;

}

.signupbox article {
    width: 300px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    font-size: 24px;
}