section {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.cat_hr {
    margin: 30px 0;
}

.category {
    width: 220px;
    padding: 40px 30px;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.cat_location_list {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2;
}

.cat_location_list a {
    color: #000;
}

label {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: #ffcc00;
    color: #3700ff;
}


/* ----- 리스트 스타일 ----- */

.path_wrapper {

    padding: 20px;
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 30px;
}

.path_auth {
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 1.5;
}

.path_auth p:nth-child(2) {
    font-size: 12px;
}

.path_img {
    width: 220px;
    height: 120px;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 #ccc;
}

.path_img img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}



.path_ctrl {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    width: 1000px;
}

.pagenation {
    grid-column: 2;
    letter-spacing: 0.4em;
    text-align: center;
    font-size: 24px;
}

.btn_path_submit {
    grid-column: 3;
    justify-self: end;
}

/* ////////////////////

슬라이더 관련 스타일

//////////////////// */

.slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 20px 15px;
}

.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #d4d9d4;
}

.slider>.range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #b0d4b0;
}

.slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: #558C03;
    border-radius: 50%;
}

.slider>.thumb.left {
    left: 0%;
    transform: translate(-15px, -10px);
}

.slider>.thumb.right {
    right: 0%;
    transform: translate(20px, -10px);
}

input[type="range"] {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 220px;
    opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    -webkit-appearance: none;
}

.distance-slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}

.distance-slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #d4d9d4;
}

.distance-slider>.range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #b0d4b0;
}

.distance-slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: #558C03;
    border-radius: 50%;
}

.distance-slider>.thumb.left {
    left: 0%;
    transform: translate(-15px, -10px);
}

.distance-slider>.thumb.right {
    right: 0%;
    transform: translate(20px, -10px);
}

#show-distance,
#showtime {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 14px;
}