
        #write-form {
            margin: 50px auto;
            width: 1000px;
        }
        h1 {
            margin-left: 50px;
            margin-bottom: 10px;
            font-size: 24px;
            color: #97BF04;
        }
        #input-items {
            border: 1px solid #97BF04;
            border-radius: 10px;
            margin: 10px;
        }
        #left-form {
            float: left;
            width: 49%;
        }
        #left-form > label {
            float: left;
            width: 80%;
            padding: 20px;
        }
        #left-form > span {
            float: left;
            width: 80%;
            padding: 20px 20px 0px 20px;
        }
        #left-form > section {
            float: left;
            width: 80%;
            padding: 20px;
        }
        img {
            float: left;
            width: 100px;
            height: 100px;
            border: 2px solid gray;
            margin-left: 1px;
            margin-bottom: 1px;
        }
        .fileImg {
            color: #81e042;
            vertical-align: middle;
            cursor: pointer;
            height: 40px;
            margin-left: 10px;
            font-size: 50px;
        }
        .filebox > input {
            display: none;
        }
        #left-form > label > .text-box {
            width: 100%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid #97BF04;
            padding: 5px;
        }
        .button {
            padding: 6px;
            width: 100px;
            background-color: #97BF04;
            color: white;
            border: none;
            border-radius: 20px;
            margin-left: 10px;
        }
        #buttons {
            text-align: right;
        }
        .submit-button {
            font-size: 20px;
            width: 100px;
            height: 40px;
            background-color: #97BF04;
            color: white;
            border: none;
            border-radius: 20px;
            margin: 10px;
        }
        #buttons > a {
            padding: 6px 10px;
            font-size: 20px;
            text-decoration: none;
            background-color: #D4D9B4;
            color: #666666;
            border-radius: 20px;
            margin: 10px;
        }
        #line {
            float: left;
            width: 2px;
            height: 500px;
            margin-top: 20px;
            background-color: #97BF04;
        }
        #right-form > label {
            float: left;
            width: 48%;
            margin: 5px 10px 10px 10px;
        }
        #clear {
            clear: left;
        }
        .map_wrap {
            border: 1px solid gray;
            margin-top: 5px;
        }

        /*------------- 지도 ---------------*/
        .readMap {
            width: 100%;
            height: 500px;
        }

        /* #readMap {
            position: relative;
        }

        #pathLoad {
            position: absolute;
            bottom: -30px;
        } */



        /*--------- 오버레이 ------------*/

        .dot {
            overflow: hidden;
            float: left;
            width: 12px;
            height: 12px;
            background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');
        }

        .dotOverlay {
            position: relative;
            bottom: 10px;
            border-radius: 6px;
            border: 1px solid #ccc;
            border-bottom: 2px solid #ddd;
            float: left;
            font-size: 12px;
            padding: 5px;
            background: #fff;
        }

        .dotOverlay:nth-of-type(n) {
            border: 0;
            box-shadow: 0px 1px 2px #888;
        }

        .number {
            font-weight: bold;
            color: #ee6152;
        }

        .dotOverlay:after {
            content: '';
            position: absolute;
            margin-left: -6px;
            left: 50%;
            bottom: -8px;
            width: 11px;
            height: 8px;
            background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')
        }

        .distanceInfo {
            position: relative;
            top: 5px;
            left: 5px;
            list-style: none;
            margin: 0;
        }

        .distanceInfo .label {
            display: inline-block;
            width: 50px;
        }

        .distanceInfo:after {
            content: none;
        }
