<header class="header" xmlns:th="http://www.w3.org/1999/html">
    <h1 class="logo"></h1>
    <nav>
        <a href="">산책로</a>
        <a href="#">커뮤니티</a>
        <a href="#">리뷰</a>
    </nav>
    <th:block th:if="${session.auth != null}">
        <div class="member">
            <span class="profile_image"></span>
            <span class="name">산책마니아1</span>
            <a th:href="@{/logout}" class="btn_logout">logout</a>
        </div>
    </th:block>
    <th:block th:if="${session.auth == null}">
        <div class="header_sign">
            <a th:href="@{/login}" class="btn_signin"><i class="sign_icon fa-solid fa-key"></i>Sign in</a>
            <a  th:href="@{/signup}" class="btn_signup"><i class="sign_icon fa-solid fa-user-plus"></i>Sign up for free</a>
        </div>
    </th:block>

</header>
<footer>
    <div class="foot_ctn">
        <p>
            walk with world <br>
            김진수 박희지 윤상혁 이승우 | 사업자등록번호 678912-3456 <br>
            서울시 송파구 큰길 666-77 <br>
            개인정보처리방침 | 이용약관
        </p>
        <h2 class="foot_logo"></h2>
    </div>
</footer>