<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="comments">
    <th:block th:if="${list}">
        <ul th:each=" lst : ${list}">
            <li>
                <span th:text="${lst.getName()}"></span> : [[${lst.getContent()}]]
                <span th:text="${#temporals.format(lst.created_at,'yyyy-MM-dd')}"></span>
                <span th:onclick="|UpdateAct(${lst.id})|">수정</span>
                <a th:href="@{/comments/delete(id=${lst.id})}">삭제</a>
            </li>
        </ul>
    </th:block>
</div>

    <form action="/comments/write" method="post" id="writeform">
        <input type="text" name="content" placeholder="댓글 등록하기" required>
        <input type="submit" value="등록">
    </form>

    <form action="/comments/update" method="post" id="uform" style="display: none">
        <input type="hidden" name="id" id="uid" value="">
        <input type="hidden" name="users_id" id="uuid" value="">
        <input type="hidden" name="walking_paths_id" id="uwpi" value="">
        <input type="text" name="content" id="ucontent" value="" required>
        <input type="submit" value="수정">
    </form>
    <script>
        let writeform = document.querySelector("#writeform");
        let uform = document.querySelector("#uform");
        let uid = document.querySelector("#uid");
        let uuid = document.querySelector("#uuid");
        let uwpi = document.querySelector("#uwpi");
        let ucontent = document.querySelector("#ucontent");
        function UpdateAct(id) {
            let xhr = new XMLHttpRequest();
            xhr.onload = function () {
                if (xhr.status == 200) {
                    uform.style.display = "block";
                    writeform.style.display = "none";
                    jsonobj = JSON.parse(xhr.responseText);
                    uid.value = jsonobj.id;
                    uuid.value = jsonobj.users_id;
                    uwpi.value = jsonobj.walking_paths_id;
                    ucontent.value = jsonobj.content;
                }
            };
            xhr.open('GET', '/comments/updateComments?id=' + id, true);
            xhr.send();
        }
    </script>
</body>

</html>