<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="comments">
    <th:block th:if="${commentList}">
        <article class="comments" th:each=" comment : ${commentList}">
            <div class="comments_info">
                <div class="review_info">
                    <div class="detail_member">
                        <span href="" class="profile_image"></span>
                        <span class="name" th:text="${comment.getName()}">이름 입력란</span>
                        <span class="date" th:text="${#temporals.format(comment.created_at,'yyyy-MM-dd')}">날짜입력란</span>
                    </div>
                    <th:block th:if="${session.auth!=null && session.auth.getName() == comment.getName()}">
                        <div class="up_del" style="visibility:visible;">
                            <span class="info_modi" th:onclick="|UpdateAct(${comment.id})|">수정</span>
                            <a class="info_del" th:href="@{/comments/delete(id=${comment.id})}" >삭제</a>
                        </div>
                    </th:block>

                </div>
            </div>
            <p th:text="${comment.getContent()}">조용조용히 아이와 걸으며 산책하기 좋습니다.</p>
        </article>
    </th:block>
</div>
</body>
</html>