<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>guestbook</title>
    <link th:href="@{/style/reset.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/style/common.css}" rel="stylesheet">
    <link th:href="@{/style/insert_visitor.css}" rel="stylesheet">
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <hr class="header_hr">

    <main>
        <div class="visitor_logo">
            <img th:src="@{/images/logo-big.png}"
        </div>
        <div class="insert_visitor">
            <form method="post" action="/insertVisitors">
                <input type="text" name="name" placeholder="작성자"required><br>
                <input type="text" name="content" placeholder="내용"required><br>
                <input type="text" name="password" placeholder="비밀번호"required><br>
            </form>
        </div>
        <div class="visitor_mod">
                <input type="submit" value="등록">
                <input type="reset" value="reset">
                <a th:href="@{/visitorslist}" >back</a>
        </div>
    </main>

<footer th:replace="fragments/header :: footer"></footer>
</body>
</html>