<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="static_reviews" class="review">
        <i class="rv-chav left fa-solid fa-circle-chevron-left"></i>
        <i class="rv-chav right fa-solid fa-circle-chevron-right"></i>
        <div class="review_none">
            <p>아직 리뷰가 작성되지 않았습니다.</p>
            <p>첫 리뷰를 작성해 주세요!</p>
            <a th:href="@{|/reviews/${walkingPaths.getId()}/write|}" class=" btns btn_write_big">
                리뷰작성
            </a>
        </div>
</div>


<div id="reviews" class="review_content" th:each="review:${reviewList}">
        <!--    여서부터!-->
        <th:block th:if="${#lists.size(review.getPhotosList())>0}">
            <aside class="images">
                <figure class="viewer">
                    <img th:src="@{|/ex_images/${review.photosList[0].imgName}|}" src="/images/sample/1.jpg" alt="">
                </figure>
                <div class="img_list">
                    <figcaption class="thumb" th:each="photo : ${review.photosList}">
                        <img th:src="@{|/ex_images/${photo.imgName}|}" src="/images/sample/1.jpg" alt="">
                    </figcaption>
                </div>
            </aside>
        </th:block>
        <th:block th:unless="${#lists.size(review.getPhotosList())>0}">
            <aside class="images">
                <figure class="viewer">
                    <img th:src="@{/images/noimage.png}" src="/images/sample/1.jpg" alt="">
                </figure>
            </aside>
        </th:block>
        <article class="review_main">
            <div class="review_info">
                <div class="detail_member">
                    <a href="" class="profile_image"></a>
                    <span class="name" th:text="${review.createdBy}">작성자명</span>
                    <span class="date" th:text="${review.createdAt}">작성일시</span>
                </div>
                <th:block th:if="${session.auth!=null && session.auth.getName()== review.createdBy}">
                    <div class="up_del">
                        <span class="info_modi">수정</span>
                        <span class="info_del">삭제</span>
                    </div>
                </th:block>
            </div>
            <hr>
            <div class="review_text">
                <p th:text="${review.content}">
                    본문
                </p>
            </div>
        </article>
</div>

<script>
    let imgRoot = document.querySelectorAll(".images")
    console.log(imgRoot);
    imgRoot.forEach(function (ir) {
        let imgList = ir.querySelectorAll(".img_list img");

        imgList.forEach(function (img) {
            img.addEventListener("click", (e) => {
                ir.querySelector(".viewer img").src = img.src;
            });
        });
    });

</script>
</body>
</html>