<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="reviews" class="review_content" th:each="review:${reviewList}">
    <!--    여서부터!-->
    <aside class="images">
        <figure class="viewer">
            <img src="/images/sample/1.jpg" alt="">
        </figure>
        <div class="img_list">
            <figcaption class="thumb">
                <img src="/images/sample/1.jpg" alt="">
            </figcaption>
            <figcaption class="thumb">
                <img src="/images/sample/2.jpg" alt="">
            </figcaption>
            <figcaption class="thumb">
                <img src="/images/sample/3.jpg" alt="">
            </figcaption>
            <figcaption class="thumb">
                <img src="/images/sample/4.jpg" alt="">
            </figcaption>
            <figcaption class="thumb">
                <img src="/images/sample/5.jpg" alt="">
            </figcaption>
        </div>
    </aside>
    <article class="review_main">
        <div class="review_info">
            <div class="detail_member">
                <a href="" class="profile_image"></a>
                <span class="name" th:text="${review.createdBy}">작성자명</span>
                <span class="date" th:text="${review.createdAt}">작성일시</span>
            </div>
            <div class="up_del">
                <span class="info_modi">수정</span>
                <span class="info_del">삭제</span>
            </div>
        </div>
        <hr>
        <div class="review_text">
            <p th:text="${review.content}">
                본문
            </p>
        </div>
    </article>
</div>
</body>
</html>