<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>WWW - Review</title>
    <!-- 파비콘 및 메타 데이터 설정 -->
    <link rel="apple-touch-icon" th:href="@{/favicon/apple-touch-icon.png}" sizes="180x180">
    <link rel="icon" type="image/png" th:href="@{/favicon/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/favicon/favicon-16x16.png}" sizes="16x16">
    <link rel="manifest" th:href="@{/favicon/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/favicon/safari-pinned-tab.svg}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- 파비콘 끝 -->

    <link rel="stylesheet" href="/style/reset.css" th:href="@{/style/reset.css}" />
    <link rel="stylesheet" href="/style/common.css" th:href="@{/style/common.css}">
    <link rel="stylesheet" href="/style/review_write_form.css" th:href="@{/style/review_write_form.css}">
</head>

<body class="body">
    <header th:replace="fragments/header :: header"></header>
    <hr class="header_hr">
    <div class="all">
        <div class="title">
            <h1>리뷰 등록</h1><br>
        </div>
        <div class="wrapper">
            <div class="left">
                <th:block th:if="${walkingPaths != null}">
                    <div class="walking-path">
                        <img th:if="${#lists.size(walkingPaths.getPhotosList())>0}"
                            th:src="@{|/ex_images/${walkingPaths.getPhotosList().get(0).getImgName()}|}" alt="" />
                        <span th:text="${walkingPaths.getTitle()}"></span>
                        <th:block th:if="${#lists.size(walkingPaths.getMapList())>0}">
                            <span th:text="${walkingPaths.getMapList().get(0).getDistance()}"></span>
                        </th:block>
                        <span th:text="${walkingPaths.getAddr()}"></span>
                    </div>
                </th:block>
            </div>

            <div class="review_form">
                <div class="form">
                    <section class="write">
                        <form method="post" th:action="@{|/reviews/${walkingPaths.getId()}/write|}"
                            enctype="multipart/form-data">
                            <span>별점</span> <br>
                            <span value="5">★★★★★</span><br>
                            <span>본문</span> <br>
                            <textarea name="content" rows="10" cols="60" wrap="soft" style="resize: none; padding: 10px"
                                required></textarea><br>
                            <span>사진(5개 제한)</span><br>
                            <section class="img-area">
                                <div id="review_image_container" class="image_container">
                                </div>
                                <div class="filebox">
                                    <label for="file">+</label>
                                    <input id="file" type="file" name="files" onchange="setThumbnail(event)" multiple />
                                </div>
                            </section>
                    </section>
                    <section class="submit">
                        <input type="submit" value="저장" class="btn-review">
                        <button class="btn-ref"><a
                                th:href="@{/walking-path/{id}(id=${walkingPaths.getId()})}">뒤로가기</a></button>
                    </section>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/header :: footer"></footer>


    <script>
        //이미지 미리보기
        function setThumbnail(event) {

            document.getElementById("review_image_container").innerText = "";

            if (event.target.files.length < 1) {
                console.log("출력")
                document.getElementById("review_image_container").innerText = "";
            }

            for (var image of event.target.files) {
                var reader = new FileReader();

                reader.onload = function (event) {
                    var img = document.createElement("img");
                    img.setAttribute("src", event.target.result);
                    document.querySelector("div#review_image_container").appendChild(img);
                };
                reader.readAsDataURL(image);
            }
        }
    </script>

</body>

</html>