<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/signup">
    <hidden value="create"></hidden>
    이름 : <input type="text" name="name">   <br>
    패스워드 : <input type="password" name="password"> <br>
    이메일 : <input type="text" name="email">  <br>
    주소 : <input type="text" name="addr">  <br>
    <input type="submit" value="가입하기">
    <input type="reset" value="취소하기"> 
</form>
</body>
</html>