<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>guestbook</title>
    <link th:href="@{/style/reset.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/style/common.css}" rel="stylesheet">
    <link th:href="@{/style/visitor.css}" rel="stylesheet">
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <hr class="header_hr">

    <main>

        <section>
            <h3>자유게시판</h3>
            <div id="article">
                <article id="deleteList">
                    <div class="vwrapper" th:each="vo : ${list}">
                        <div class="visit_header">
                            <span>작성자</span>
                            <span>내용</span>
                        </div>
                        <div class="visitor_body">
                            <p class="vname">[[${vo.name}]]</p>
                            <p class="vcontent">[[${vo.content}]]</p>
                        </div>
                        <div class="visitor_footer">
                            <p class="vcreatedAt">[[${vo.createdAt}]]</p>
                            <div class="visitor_mod">
                                <p class="btns btn_vdelete" th:onclick="|deleteVisitorList(${vo.getId()})|">삭제</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="btn_write_wrapper">
                <a th:href="@{/insertVisitorsForm}" class="visitor_write btns btn_vwrite">글쓰기</a>
            </div>
        </section>
    </main>
    <footer th:replace="fragments/header :: footer"></footer>

    <script th:inline="javascript">

        /*<![CDATA[*/
        function deleteVisitorList (id){
            var visitorsId = id;
            var VisitorsDTO = {};
            VisitorsDTO.id = id;

            const password = prompt('비밀번호를 입력하세요:');
            VisitorsDTO.password = password;

            fetch("/visitor/delete", {
                method: "POST",
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    id: VisitorsDTO.id,
                    password: VisitorsDTO.password
                })
            })
                .then((response) => response.text())
                .then((data) => {
                    document.getElementById("article").innerHTML = `${data}`;
                });
        }



        /*]]>*/

    </script>
</body>

</html>