<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>walking-path detail</title>
    <link th:href="@{/style/reset.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{/style/common.css}" rel="stylesheet" >
    <link th:href="@{/style/waking_path_detail.css}" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<hr class="header_hr">
<main>
    <section class="detail_header">
        <div class="detail_title">
            <h2 th:text="${walkingPaths.title}">타이틀 미입력</h2>
            <div class="up_del">
                <span class="info_modi">수정</span>
                <span class="info_del">삭제</span>
            </div>
        </div>
        <p>
            <span class="star_score">★★★★★</span> <i></i>리뷰 <b>8</b> <i>|</i> 댓글 <b>22</b> <i>|</i> 거리 <b>10</b> Km
            <i>|</i> 시간 <b>3</b> 시간
        </p>
        <address th:text="${walkingPaths.addr}">주소 미입력</address>
    </section>
    <section class="infoAndcomments">
        <div class="iac_wrapper">
            <article class="detail_info">
                <aside class="images">
                    <figure class="viewer">
                        <img
                             th:src="@{|/ex_images/${walkingPaths.photosList[0].imgName}|}"/>
                    </figure>

                    <div class="img_list">
                        <figcaption class="thumb" th:each=" wp : ${walkingPaths.photosList}">
                            <img th:src="@{|/ex_images/${wp.imgName}|}">
                        </figcaption>
                    </div>
                </aside>
                <div class="review_write">
                    <p>
                        이 산책로는 어땠나요?<br>
                        리뷰를 남겨주세요!
                    </p>
                    <div>
                        <a href="" class="btn_write_big">
                            리뷰작성
                        </a>
                    </div>
                </div>
            </article>
            <div class="comments_wrapper">
                <div class="comments_content">
                    <article class="comments">
                        <div class="comments_info">
                            <div class="review_info">
                                <div class="detail_member">
                                    <a href="" class="profile_image"></a>
                                    <span class="name">산책마니아1</span>
                                    <span class="date">2023.10.15</span>
                                </div>
                                <div class="up_del" style="visibility:visible;">
                                    <span class="info_modi">수정</span>
                                    <span class="info_del">삭제</span>
                                </div>
                            </div>
                        </div>
                        <p>조용조용히 아이와 걸으며 산책하기 좋습니다.</p>
                    </article>

                </div>

                <form action="" method="post" id="comments_write">
                    <input type="text" name="content" class="comments_input" placeholder="댓글 등록하기" required>
                    <input type="submit" value="등록" class="btn_comments">
                </form>
            </div>
        </div>
    </section>
    <section class="map">
            <h3>상세 경로</h3>
    <div class="map_wrap">
        <div class="readMap" id="map"></div>
    </div>
        </section>
    <section class="review">
            <h3>리뷰</h3>
            <div class="review_container">
                <i class="rv-chav left fa-solid fa-circle-chevron-left"></i>
                <i class="rv-chav right fa-solid fa-circle-chevron-right"></i>
                <div class="review_content">
                    <aside class="images">
                        <figure class="viewer">
                            <img src="/images/sample/1.jpg" alt="">
                        </figure>
                        <div class="img_list">
                            <figcaption class="thumb">
                                <img src="/images/sample/1.jpg" alt="">
                            </figcaption>
                            <figcaption class="thumb">
                                <img src="/images/sample/2.jpg" alt="">
                            </figcaption>
                            <figcaption class="thumb">
                                <img src="/images/sample/3.jpg" alt="">
                            </figcaption>
                            <figcaption class="thumb">
                                <img src="/images/sample/4.jpg" alt="">
                            </figcaption>
                            <figcaption class="thumb">
                                <img src="/images/sample/5.jpg" alt="">
                            </figcaption>
                        </div>
                    </aside>
                    <article class="review_main">
                        <div class="review_info">
                            <div class="detail_member">
                                <a href="" class="profile_image"></a>
                                <span class="name">산책마니아1</span>
                                <span class="date">2023.10.15</span>
                            </div>
                            <div class="up_del">
                                <span class="info_modi">수정</span>
                                <span class="info_del">삭제</span>
                            </div>
                        </div>
                        <hr>
                        <div class="review_text">
                            <p>
                                두손을 풀밭에 이상의 인류의 위하여서, 청춘의 있다. 보라. 못할 방지하는 구하기 능히 속에 피다. 기쁘며. 오직 사막이다. 장식하는 가는 그들에게 하여도
                                것이다.
                                용감하고
                                청춘의 꽃이 우리의 때에.

                                인간의 그들은 생명을 같은 뜨고, 아니다. 관현악이며. 밥을 더운지라 가치를 그러므로 뭇 황금시대다. 곧 너의 가지에 넣는 품에 튼튼하며, 인생을 못하다
                                청춘의
                                생생하며.
                                내는 그러므로 있는가? 소리다. 황금시대다.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
</main>
<footer th:replace="fragments/header :: footer"></footer>




<a th:href="@{/walking-path}">목록</a>

<!--댓글 영역-->
<br>
<div>
    <h3>댓글 확인</h3>
    <div id="comments"></div>

</div>
<!--댓글 작성 하기-->
<a th:href="@{|comments/${walkingPaths.getId()}|}">댓글 작성하기</a>

리뷰 영역
<!--<div th:replace="/reviews :: reviews">-->
<!--</div>-->
<div>
    <h3>리뷰 확인</h3>
    <div id="reviews"></div>

</div>


<!--리뷰 작성-->
<!--<th:block th:if="${session.auth != null}">-->
<!--    <a th:href="@{|/walking-path/${walkingPath.getId()}|}" ></a>-->
<a th:href="@{|/reviews/${walkingPaths.getId()}|}">리뷰 작성하기</a>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d753200077e444dd40df1e458903dfd3"></script>
<script th:inline="javascript">
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 지도에 클릭 이벤트를 등록합니다
    // 지도를 클릭하면 선 그리기가 시작됩니다 그려진 선이 있으면 지우고 다시 그립니다
    window.onload = function (mouseEvent) {
        var input = [[${walkingPaths.mapList}]];

        // 선을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 선을 표시합니다
        var linePath = [];
        input.forEach(function (map) {
            console.log(map["coordinateX"]);
            console.log(map["coordinateY"]);
            linePath.push(new kakao.maps.LatLng(map["coordinateY"], map["coordinateX"]));
        });

        // 지도에 표시할 선을 생성합니다
        var polyline = new kakao.maps.Polyline({
            path: linePath, // 선을 구성하는 좌표배열 입니다
            strokeWeight: 5, // 선의 두께 입니다
            strokeColor: '#FFAE00', // 선의 색깔입니다
            strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'solid' // 선의 스타일입니다
        });

        // 지도에 선을 표시합니다
        polyline.setMap(map);
    }
</script>
<script th:inline="javascript">
    function getReviewList() {
        fetch("/reviews", {
            method: "POST"
        })
            .then((response) => response.text())
            .then((data) => {
                console.log('성공 : ', data);
                document.getElementById("reviews").innerHTML = `${data}`;
            });
    }

    function getCommentList() {
        fetch("/comments", {
            method: "POST"
        })
            .then((response) => response.text())
            .then((data) => {
                console.log('성공 : ', data);
                document.getElementById("comments").innerHTML = `${data}`;
            });
    }

    window.addEventListener('onload', getReviewList());
    window.addEventListener('onload', getCommentList());
</script>
<script>
    let imgRoot = document.querySelectorAll(".images")
    console.log(imgRoot);
    imgRoot.forEach(function (ir) {
        let imgList = ir.querySelectorAll(".img_list img");

        imgList.forEach(function (img) {
            img.addEventListener("click", (e) => {
                ir.querySelector(".viewer img").src = img.src;
            });
        });
    });

</script>

</body>
</html>