<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>WWW - Walking Path</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/common.css">
    <link rel="stylesheet" href="/style/walking_path_write_form.css">
</head>

<body>
    <header th:replace="fragments/header :: header"></header>

    <hr class="header_hr">
    <div id="write-form">
        <h1>산책로 등록</h1>
        <form method="post" action="/walking-path" enctype="multipart/form-data">
            <div id="input-items">
                <div id="left-form">
                    <label>산책로 이름<br><input type="text" class="text-box" name="title" required></label><br>
                    <label>주소
                        <input type="button" class="button" onclick="searchAddr()" value="주소 찾기"><br>
                        <input type="text" name="addr" class="text-box" id="address" required><br>
                    </label><br>
                    <span>사진(5개 제한)</span><br>
                    <section class="img-area">
                        <div class="filebox">
                            <label for="file" class="fileImg">+</label>
                            <input id="file" type="file" name="files" onchange="setThumbnail(event)" multiple />
                        </div>
                        <div id="image_container" class="image_container"></div>
                    </section><br>
                    <label>
                        <input type="hidden" name="course" id="course">
                        <input type="hidden" name="time" id="time">
                        <input type="hidden" name="distance" id="distance">
                    </label>
                </div>
                <div id="line"></div>
                <div id="right-form">
                    <label>경로 그리기
                        <div class="map_wrap">
                            <div class="readMap" id="map"></div>
                        </div>
                    </label>
                </div>
                <div id="clear"></div>
            </div>
            <div id="buttons">
                <input type="submit" class="submit-button" value="확인">
                <a th:href="${referer}">&nbsp; 뒤로가기 &nbsp;</a>
            </div>
        </form>
    </div>

    <footer th:replace="fragments/header :: footer"></footer>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function searchAddr() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("address").value = addr;
                }
            }).open();
        }
    </script>
    <script>
        function setThumbnail(event) {
            document.getElementById("image_container").innerText = "";
            if (event.target.files.length < 1) {
                document.getElementById("image_container").innerText = "";
            }
            else if (event.target.files.length > 5) {
                document.getElementById("image_container").innerText = "";
                alert("사진은 최대 5개까지 업로드 가능합니다.");
            }
            else {
                for (var image of event.target.files) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        var img = document.createElement("img");
                        img.setAttribute("src", event.target.result);
                        document.querySelector("div#image_container").appendChild(img);
                    };
                    reader.readAsDataURL(image);
                }
            }
        }
    </script>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d753200077e444dd40df1e458903dfd3"></script>
    <script th:inline="javascript" src="/js/map_distance.js"></script>
</body>

</html>